body {
  background-color: #1c1c1c;
  color: #e8f462;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.main {
  display: block;
  font-weight: bold;
  padding: 9px;
  display: flex;
  color: #e8f462;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  
}
.navsection {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}

.navbar {
   display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;
 
}

.navbar button {
  font-size: 21px;
  color: white;
  background-color: #1c1c1c;
  border: none;
  cursor: pointer;
  padding:20px;
  
}

.navbar button:hover {
  color: #e8f462;
}

.book {
  border: 2px solid #e8f462;
  padding: 20px;
  max-width: 400px;
  border-radius: 10px;
  margin-bottom: 20px; /* Adjust margin for consistent spacing */
}

.book-title {
  font-size: 24px;
}

.book-author {
  font-size: 20px;
  font-weight: bold;
}

.book-desp {
  font-size: 1rem;
  color: white;
}

.book-rating {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.blogs {
  padding: 10px;
  max-width: 400px;
  border-radius: 10px;
  margin-bottom: 20px; /* Adjust margin for consistent spacing */
}

.blog-title {
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.blog-author {
  font-size: 18px;
  font-weight: bold;
}

.blogs a {
  text-decoration: none;
  color: white;
}
